<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-azul-escuro">
                        <h4 class="card-title ">Clientes</h4>
                        <p class="card-category">Clientes já cadastrados</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  