<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-azul-escuro">
            <h4 class="card-title">Cadastro de Animais</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <form [formGroup]="checkoutForm">
              <div class="row">
                <div class="col-md-4 col-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome" type="text" formControlName="nome" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo" (selectionChange)="tipoChange($event)" required>
                      <mat-option></mat-option>
                      <mat-option [value]="tipo.id" *ngFor="let tipo of tipos">{{ tipo.nome }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Raça</mat-label>
                    <mat-select formControlName="raca" required>
                      <mat-option></mat-option>
                      <mat-option [value]="raca" *ngFor="let raca of racas">{{ raca }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Dono</mat-label>
                    <mat-select formControlName="dono_id">
                      <mat-option></mat-option>
                      <mat-option [value]="dono.id" *ngFor="let dono of donos">{{ dono.nome }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Idade" type="text" formControlName="idade">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-success pull-right ml-2" (click)="onSubmit()" *ngIf="checkoutForm.value.id == null" [disabled]="!checkoutForm.valid">Adicionar</button>
              <button mat-raised-button type="submit" class="btn btn-primary pull-right ml-2" (click)="editar()" *ngIf="checkoutForm.value.id != null" [disabled]="!checkoutForm.valid">Editar</button>
              <button mat-raised-button class="btn btn-info pull-right" (click)="limpar()">Limpar</button>
              <button mat-raised-button class="btn btn-danger pull-right mr-5" (click)="excluir()" *ngIf="checkoutForm.value.id != null">Excluir</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-azul-escuro">
            <h4 class="card-title ">Animais</h4>
            <p class="card-category">Animais já cadastrados</p>
          </div>
          <div class="card-body">
            <ngx-datatable class="material" [rows]="rowsResultado"
                [columns]="[{ name: 'Nome', prop: 'nome' }, { name: 'Dono', prop: 'dono_id.nome' }, { name: 'Tipo', prop: 'tipo.nome' }, { name: 'Idade', prop: 'idade' }]" [columnMode]="ColumnMode.force"
                [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [selectionType]="SelectionType.single" (select)="onSelect($event)">
              </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>