<section class="ftco-section img js-fullheight text-dark" style="background-image: url(../../assets/img/bg.jpg);">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section text-dark">Martineira</h2>
                <h5 class="text-secondary">Pet Shop</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="signin-form">
                        <div class="form-group">
                            <input type="text" class="form-control text-dark" placeholder="Usuário" formControlName="usuario" required>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control text-dark" formControlName="senha" placeholder="Senha"
                                required>
                        </div>
                        <div>
                            <span class="text-white" *ngIf="msgErro">{{msgErro}}</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Entrar</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Lembre de mim
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#" style="color: #fff">Esqueci minha senha</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>