<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-azul-escuro">
                        <h4 class="card-title">Cadastro de Pedidos</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="checkoutForm">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <mat-form-field class="example-full-width input-group">
                                        <input matInput placeholder="Data" type="text" formControlName="data"
                                            ngbDatepicker #d="ngbDatepicker" required>
                                        <mat-icon (click)="d.toggle()" class="material-icons" matSuffix>date_range</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-12">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Cliente</mat-label>
                                        <mat-select formControlName="cliente" required>
                                          <mat-option></mat-option>
                                          <mat-option [value]="cliente.id" *ngFor="let cliente of clientes">{{ cliente.nome }}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right ml-2"
                                (click)="onSubmit()" *ngIf="checkoutForm.value.id == null"
                                [disabled]="!checkoutForm.valid">Adicionar</button>
                            <button mat-raised-button type="submit" class="btn btn-primary pull-right ml-2"
                                (click)="editar()" *ngIf="checkoutForm.value.id != null"
                                [disabled]="!checkoutForm.valid">Editar</button>
                            <button mat-raised-button class="btn btn-info pull-right" (click)="limpar()">Limpar</button>
                            <button mat-raised-button class="btn btn-danger pull-right mr-5" (click)="excluir()"
                                *ngIf="checkoutForm.value.id != null">Excluir</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-azul-escuro">
                        <h4 class="card-title ">Pedidos</h4>
                        <p class="card-category">Pedidos já cadastrados</p>
                    </div>
                    <div class="card-body">
                        <ngx-datatable class="material" [rows]="rowsResultado"
                            [columns]="[{ name: 'Data', prop: 'data' }, { name: 'Cliente', prop: 'cliente_id.nome' }, { name: 'Preço Total', prop: 'precoTotal' }]"
                            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                            [limit]="5" [selectionType]="SelectionType.single" (select)="onSelect($event)">
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>